[Unit]
Description=distrohop
After=network.target

[Service]
ExecStart=distrohop
Restart=always
StandardOutput=journal
Environment=HOME=/root

[Install]
WantedBy=default.target